<div class="mp-friends-panel clearfix">

  <div class="mp-friends-panel-search-section">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="friendSearchInput" placeholder="Enter your friend's name" ng-change="queryUser()">
      <span class="input-group-btn">
        <button type="button" href="" class="btn btn-primary" ng-click="queryUser()">Find friends</button>
      </span>
    </div>

    <div class="mp-user-section-friend-search-results">
      <div ng-repeat="user in friendSearchResults">
        <img ng-src="{{user.fb_user_picture}}">{{user.name}}
        <a href="" ng-click="addFriend(user)" ng-hide="user.$$alreadyFriended">add</a>
        <span ng-show="user.$$alreadyFriended">already friends</span>
      </div>
    </div>
  </div>

  <ul class="mp-friends-panel-friends-list">
    <li ng-repeat="friend in MpChatbox.friends">
      <img ng-src="{{friend.fb_user_picture}}">{{user.name}}
      <span ng-show="friend.01online">online</span>
    </li>
  </ul>
</div>
