<div class="mp-toolbar-actions">
  <a href="" class="mp-toolbar-action-button" bs-tooltip="Login" bs-tooltip-placement="top" ng-click="interface.showUserSection = true">
    <i class="icon-user"></i>
  </a>
  <a href="/new_project" class="mp-toolbar-action-button" bs-tooltip="Add new project" bs-tooltip-placement="top">
    <i class="icon-plus"></i>
  </a>
  <a href="" class="mp-toolbar-action-button" bs-tooltip="Invite friends" bs-tooltip-placement="top" ng-click="interface.showUserSection = true">
    <i class="icon-group"></i>
  </a>
  <a href="" class="mp-toolbar-action-button" bs-tooltip="Change settings" bs-tooltip-placement="top" ng-click="">
    <i class="icon-cog"></i>
  </a>
</div>

<div class="mp-inputbox mp-toolbar-inputbox" ng-init="controlToolbar.input = ''" mp-inputbox>
  <label class="">
    <i class="icon-remove mp-inputbox-icon" ng-class="{hide: controlToolbar.input.length == 0}" bs-tooltip="Clear input" bs-tooltip-placement="left" ng-click="clearInput(controlToolbar)"></i>
    <i class="icon-search mp-inputbox-icon" ng-class="{hide: controlToolbar.input.length > 0}" bs-tooltip="Filter your projects" bs-tooltip-placement="left"></i>
    <input type="text" class="mp-naked-input" bs-tooltip="Filter your projects" bs-tooltip-placement="bottom" placeholder="search project" ng-model="controlToolbar.input">
  </label>
  <a href="" class="mp-inputbox-action-button">
      <i class="icon-arrow-right" bs-tooltip="Go!" bs-tooltip-placement="bottom"></i>
  </a>
</div>
