<a href="" class="mp-user-section-close-button" ng-click="interface.showUserSection = false"><i class="icon-remove"></i></a>

<div class="mp-user-section-user-info clearfix">
  <img class="mp-user-info-profile-picture" ng-src="{{MpUser.fb_user_picture()}}">
  <div class="mp-user-info-details">
    <div class="mp-user-info-name">{{MpUser.name()}}</div>
    <div class="">{{MpUser.email()}}</div>
  </div>
</div>

<div mp-user-section-tabs>
  <div class="btn-group">
    <button type="button" class="btn btn-primary" ng-click="showTab(0)">Notification
      <span class="badge" ng-hide="MpChatbox.notifications.length == 0">{{MpChatbox.notifications.length}}</span>
    </button>
    <button type="button" class="btn btn-default" ng-click="showTab(1); MpChatbox.updateFriendsList()">Friends</button>
    <button type="button" class="btn btn-default" ng-click="showTab(2)"><i class="icon-search"></i></button>
  </div>

  <div class="mp-user-section-tabs-content">
    <!-- Tab 1 -->
    <div class="mp-user-section-tab-body" ng-show="tabs[0]">
      <ol class="mp-notification-center" perfect-scrollbar="MpChatbox.notifications.length">
        <li ng-repeat="notice in MpChatbox.notifications">
          <img ng-src="{{notice.sender.fb_user_picture}}">
          <div class="mp-user-info-details">
            <div class="mp-user-info-name">{{notice.sender.name}}</div>
            <div class="mp-notice-body">Wants to add you as a friend</div>
            <div class="btn-group">
              <button type="button" class="btn btn-primary" ng-click="MpChatbox.acceptFriendRequest(notice)">Accept</button>
              <button type="button" class="btn btn-default" ng-click="MpChatbox.ignoreFriendRequest(notice)">Ignore</button>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <!-- Tab 2 -->
    <div class="mp-user-section-tab-body" ng-show="tabs[1]">
      <ul class="mp-user-sectin-friends-list" perfect-scrollbar="MpChatbox.friends.length">
        <li class="mp-user-sectin-friends-item" ng-repeat="friend in MpChatbox.friends">
          <img ng-src="{{friend.fb_user_picture}}">
          {{friend.name}}
        </li>
      </ul>
    </div>
    <!-- Tab 3 -->
    <div class="mp-user-section-tab-body mp-user-section-search-user" ng-show="tabs[2]">
      <input type="text" class="form-control" placeholder="Search user's name" ng-model="searchFriends.input">
      <ul class="mp-user-section-friends-list" perfect-scrollbar="searchFriends.results.length">
        <li class="mp-user-sectin-friends-item" ng-repeat="user in searchFriends.results">
          <img ng-src="{{user.fb_user_picture}}">
          {{user.name}}
          <a href="" ng-click="MpChatbox.sendFriendRequest(user)">add friend</a>
          <div class="mp-user-section-system-message">{{user.systemMessage}}</div>
        </li>
      </ul>
    </div>
    <!-- END -->
  </div>
</div>

<div class="mp-user-section-bottom">
  <a href="" class="btn btn-warning" ng-click="logout()">Logout</a>
</div>
