//- replace: true
.md-bottom-bar
  .md-bottom-bar-button-group
    //- show side menu
    a.md-bottom-bar-button(href="", ng-click="interface.showUserSection = true")
      i.icon-reorder
    input.md-bottom-bar-input(type="text", placeholder="Search place name")

  .md-bottom-bar-button-group-center
    //- show drawer
    a.md-bottom-bar-button(href="", ng-click="drawerCtrl.toggleDrawer()")
      i.icon-caret-up

  .md-bottom-bar-button-group
    .md-bottom-bar-button-padding

    //- toggle direction
    a.md-bottom-bar-button(href="", ng-click="mapCtrl.toggleDirections()")
      i.icon-location-arrow
    //- display all markers
    a.md-bottom-bar-button(href="", ng-click="drawerCtrl.displayAllMarkers()")
      i.icon-globe

    .md-bottom-bar-button-padding

    //- edit project detail
    a.md-bottom-bar-button(href="", ng-click="drawerCtrl.toggleEditProject()")
      i.icon-edit-sign
    //- management participants
    a.md-bottom-bar-button(href="")
      i.icon-group
    //- add user to this project
    a.md-bottom-bar-button(href="")
      i.icon-plus
    //- share
    a.md-bottom-bar-button(href="")
      i.icon-share

    .md-bottom-bar-button-padding

    //- show chatbox
    a.md-bottom-bar-button(href="")
      i.icon-comments
