//- Container: .md-modal.md-effect-3(md-edit-project="")
.md-edit-project

  a.md-edit-project-close(href="", ng-click="mdEditProjectCtrl.closeEditProjectForm()") Back

  header.md-edit-project-title You have to login or signup before you can edit and save this project

  .md-edit-project-body
    a.btn.btn-primary(href="", ng-click="mdEditProjectCtrl.loginWithFacebook()") Login with Facebook
    a.btn.btn-default(href="", ng-click="mdEditProjectCtrl.showSideMenu()") Login/Register
