# --- Rails ---
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
Gemfile.lock

# --- Node.js ---
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

# --- Redis ---
dump.rdb

# --- PostgreSQL ---
logfile

# --- Miscellaneous ---
# foreman environment config
.env
# OS X folder settings
.DS_Store

# --- Customized project files ---
public/scripts
public/assets
app/assets/javascripts/*
