.mp-chat-added-place.md-places-item.clearfix
  .md-places-item-image
    a(href="", ng-click="mdChatboxCtrl.showPlaceOnMap(chatItem.place)")
      img(ng-src="/img/blue-marker-3d.png")
  .md-places-item-details
    .md-places-item-name {{chatItem.place.name}}
    address.md-places-item-address {{chatItem.place.address}}
  time.mp-chat-message-datatime
