//- Container: section.ly-pusher-side > .md-menu(md-menu)
header.md-menu-header
  p.md-menu-head-title You haven't logged in yet.

.md-menu-login-prompt
  a.btn.btn-primary(href="", ng-click="MpUser.login('/home')") Login with Facebook
