<div class="mp-halfscreen-left mp-drawer-section">

  <!-- Toolbar -->
  <div class="mp-drawer-toolbar">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="interface.showUserSection = true">
          <i class="icon-user"></i>
        </button>
        <!-- show when logout -->
        <button class="btn btn-default" type="button" ng-click="interface.showMapDrawer = !interface.showMapDrawer" ng-hide="User.checkLogin()">Show detail</button>
        <!-- show when login -->
        <div class="btn-group dropup" ng-hide="!User.checkLogin()">
          <button type="button" class="btn btn-default" ng-click="interface.showMapDrawer = !interface.showMapDrawer">Show detail</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="/all_projects">Return to all projects</a></li>
          </ul>
        </div>
        <!-- END -->
      </span>
      <input type="text" class="form-control" mp-map-searchbox ng-model="searchbox.input">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="clearInput()">
          <i class="icon-remove"></i>
        </button>
        <button class="btn btn-primary" type="button">Go!</button>
      </span>
    </div>
  </div>

  <!-- Search results -->
  <div class="mp-drawer-body">
    <div class="mp-search-results" perfect-scrollbar="TheMap.searchResults.length">
      <div class="mp-list-contents-header lead">Showing {{TheMap.searchResults.length}} search results</div>

      <div class="mp-list-content-body">
        <div class="mp-place-search-results-item" ng-repeat="place in TheMap.searchResults">
          <div class="mp-place-marker-icon">
            <a href="" ng-click="TheMap.centerPlaceInMap(place.$$marker.getPosition())">
              <img ng-src="{{place.icon}}">
            </a>
          </div>
          <div class="mp-place-actions">
            <a href="" ng-click="TheMap.addPlaceToList(place)">
              <i class="icon-ok"></i>
            </a>
          </div>
          <div class="mp-place-detail-sidebar">
            <div class="mp-place-name-sidebar">{{place.name}}</div>
            <address>{{place.formatted_address}}</address>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Project details -->
<div class="mp-halfscreen-right" mp-tabs>

  <ul class="mp-side-tabs">
    <li class="mp-side-tab-active"><a href="">Marked places</a></li>
    <li><a href="">Edit project details</a></li>
  </ul>

  <div class="mp-tab-content">

    <!-- Tab 1 -->
    <div class="mp-tab-content-box mp-saved-places-list" perfect-scrollbar="MpProjects.currentProjectPlaces.length" ng-show="tabs[0].show">
      <div class="mp-drawer-body">
        <div class="mp-list-contents-header lead" ng-hide="!MpProjects.currentProject.title">{{MpProjects.currentProject.title}}</div>
        <div class="mp-list-contents-header lead" ng-hide="MpProjects.currentProject.title">{{MpProjects.currentProjectPlaces.length}} marked places</div>

        <div jquery-ui-sortable="place in MpProjects.currentProjectPlaces">
          <div class="mp-marked-place" ng-repeat="place in MpProjects.currentProjectPlaces" sidebar-place>
            <div class="mp-place-marker-icon">
              <a href="" ng-click="TheMap.centerPlaceInMap(place.$$marker.getPosition())">
                <img ng-src="/img/markers/number_{{$index}}.png">
              </a>
            </div>
            <div class="mp-place-actions">
              <a href="" ng-click="MpProjects.removePlace(place, $index)">
                <i class="icon-remove"></i>
              </a>
            </div>
            <div class="mp-place-detail-sidebar">
              <div class="mp-place-name-sidebar">{{place.name}}</div>
              <address>{{place.address}}</address>
              <p class="">{{place.notes}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tab 2 -->
    <div class="mp-tab-content-box" ng-show="tabs[1].show">
      <!-- show when logout -->
      <div class="mp-drawer-body" ng-hide="User.checkLogin()">
        <h3>Sign up with Facebook to save your marked places</h3>
        <p class="lead">After sign up you can:</p>
        <ol class="lead">
          <li>Make maps with your friends, in real time.</li>
          <li>Create multiple maps.</li>
          <li>Share maps online.</li>
        </ol>
        <a href="" ng-click="fbLogin()" class="btn btn-primary">Sign up with Facebook</a>
      </div>
      <!-- show when login -->
      <div class="mp-drawer-body" ng-hide="!User.checkLogin()" mp-edit-project-form>
        <form class="form-horizontal" name="editProjectForm">
          <legend>Edit Project: {{MpProjects.currentProject.title}}</legend>
          <div class="form-group">
            <label for="mp_edit_project_title" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="mp_edit_project_title" placeholder="Project title" ng-model="editProject.title" name="title">
            </div>
          </div>
          <p class="text-danger">{{editProject.errorMessage}}</p>
          <div class="form-group">
            <label for="mp_edit_project_notes" class="col-lg-2 control-label">Notes</label>
            <div class="col-lg-10">
              <textarea id="mp_edit_project_notes" class="form-control" placeholder="Project notes" name="notes" ng-model="editProject.notes"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="button" class="btn btn-danger" ng-click="deleteProject()">Delete</button>
              <button type="submit" class="btn btn-primary" ng-click="saveChanges()">Save</button>
              <button type="button" class="btn btn-default" ng-click="revertChanges()">Revert</button>
            </div>
          </div>
        </form>
      </div>
      <!-- END -->
    </div>

  </div>
</div>
