//- Container: section.ly-pusher-content(app-view-segment="1")

//- Projects list
.ly-fullscreen(perfect-scrollbar="insideViewCtrl.MpProjects.projects.length", style="overflow: hidden")
  ol.md-projects.clearfix(md-masonry="", md-masonry-watch="insideViewCtrl.MpProjects.projects.length", md-masonry-item-selector=".md-projects-item")
    //- Add project
    li.md-projects-item.md-projects-create
      a(href="", ng-click="insideViewCtrl.createNewProject()")
        i.icon-plus

    //- Project list
    li.md-projects-item.md-project(ng-repeat="project in insideViewCtrl.MpProjects.projects | orderBy:'updated_at':true")
      .md-project-cover
        .md-project-cover-background(mini-map-cover="")
        .md-project-cover-overlay
          a(ng-href="/project/{{project.id}}") {{project.title}}
      .md-project-owner
        img.md-project-owner-picture(ng-src="{{project.owner.fb_user_picture}}")
        span.md-project-owner-name {{project.owner.name}}
        a.btn.btn-default(ng-href="/project/{{project.id}}") Open
      .md-project-notes(ng-show="project.notes && project.notes.length") {{project.notes}}
      ul.md-project-participants.clearfix(ng-show="project.participating_users.length")
        li.md-project-participants-item(ng-repeat="user in project.participating_users")
          img.md-project-participants-item(ng-src="{{user.fb_user_picture}}")
      .md-project-lastmessage


//- Bottom
.md-bottom-bar
  .md-bottom-bar-button-group
    //- show side menu
    a.md-bottom-bar-button.md-bottom-bar-notification-button(href="", ng-click="interface.showUserSection = true")
      i.icon-reorder
      .md-bottom-bar-notification-count(ng-show="insideViewCtrl.MpNotification.notifications.length", ng-cloak="") {{insideViewCtrl.MpNotification.notifications.length}}

  .md-bottom-bar-button-group-center.md-bottom-bar-text Dashboard

  .md-bottom-bar-button-group
    //- placeholder: to push .md-bottom-bar-button-group-center to center
