.cp-pusher(ng-class="{'cp-pusher-pushed': interface.showUserSection}")

  section.cp-pusher-side.mp-user-section(mp-user-section="mp-user-section")

  section.cp-pusher-content

    .md-drawer.clearfix(mp-map-drawer="mp-map-drawer", ng-class="{'md-drawer-maxmize': drawerCtrl.maxmize}")
    .mp-fullscreen(mp-map-canvas="mp-map-canvas")

    .md-homepage(ng-class="{'md-homepage-fadeout': !interface.centerSearchBar}")
      header.md-homepage-header
        a.btn.btn-primary(href="", ng-click="MpUser.login('/home')") Login with Facebook
        a(href="", ng-click="interface.showUserSection = true") Login/Register
      .container
        .md-homepage-body
          h1 Map Project = Trip planner + Map marker
          h3 for your friends and you
          ul.lead
            li Your friends and you can mark places on the same map, at the same time
            li Save your favoriate place for late
            li Access your maps on any device (coming)

  .cp-pusher-overlay(ng-click="interface.showUserSection = false")
