<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="interface.showUserSection = true">
      <i class="icon-user"></i>
    </button>
    <!-- <button class="btn btn-default" type="button" ng-click="">Show detail</button> -->
  </span>
  <input type="text" class="form-control" ng-model="navbarBottom.input">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="clearInput()">
      <i class="icon-remove"></i>
    </button>
    <button class="btn btn-primary" type="button">Go!</button>
  </span>
</div>
