html, body {
  height: 100%;
}

.ly-application {
  height: 100%;
  overflow: hidden;
}

.ly-fullscreen {
  height: 100%;
  position: relative;
}

.ly-fullscreen-abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ly-halfscreen-left {
  width: 50%;
  float: left;
}

.ly-halfscreen-right {
  width: 50%;
  float: right;
}
