[mp-map-canvas] {
    @include transition();
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}





// Map & Project List
// ----------------------------------------
.mp-places-button-group {
    width: 100%;
    @include display_flex;
    @include justify-content(space-around);
    // -webkit-justify-content: space-around;
}

.mp-sidebar-places {
    -webkit-transition: all 350ms ease-out 50ms;
       -moz-transition: all 350ms ease-out 50ms;
        -ms-transition: all 350ms ease-out 50ms;
         -o-transition: all 350ms ease-out 50ms;
            transition: all 350ms ease-out 50ms;
    margin-top: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.mp-sidebar-place {
    padding: 10px;
    background-color: white;
    address {
        margin: 0;
    }
    &.ui-sortable-helper {
        background-color: $gray1;
    }
}

.mp-place-marker-icon {
    float: left;
    margin-right: 10px;
}

.mp-place-actions {
    float: right;
    font-size: 18px;
    margin-left: 10px;
    a {
        &:hover {
            text-decoration: none;
            color: $red;
        }
    }
}

.mp-place-detail-sidebar {
    overflow: hidden;
}

.mp-place-name-sidebar {
    font-weight: bold;
}

.mp-create-account-promot {
    @extend %transition;
    position: absolute;
    top: -200px;
    left: 10px;
    right: 10px;
    padding: 10px;
    border: 1px solid $gray3;
    border-radius: 3px;
    text-align: center;
    &.js-create-account-promot-show ~ .mp-sidebar-places {
        margin-top: 179px;
    }
}

.mp-info-window-wrapper {
    // TODO: fix google map infoWindow overflow on bottom
    width: 300px;
}
