//- Container:
//- li
//- .md-side-menu-notifications-item
//- .md-notice
//- ng-repeat="notice in insideViewCtrl.MpNotification.notifications"
//- md-notification-item=""

.md-notice-image
  img(ng-src="{{notice.sender.profile_picture}}")
.md-notice-body
  header.md-notice-body-header
    a.md-notice-body-header-user-name-link(href="")
      b {{notice.sender.name}}
    |  invites you to join
    a.md-notice-body-header-user-name-link(href="")
      b  {{notice.body.project.title}}
    |  project
  .md-notice-body-actions
    a.btn.btn-default(href="", ng-click="mdNotificationItemCtrl.rejectProjectInvitation()") Reject
    a.btn.btn-success(href="", ng-click="mdNotificationItemCtrl.acceptProjectInvitation()") Accept
