<!-- Modal -->
<div class="" id="add_friends_modal" easy-modal="showAddFriendsModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Friends to Project: {{currentProject.project.title}}</h4>
            </div>

            <!-- body -->
            <div class="modal-body">

                <input type="text" class="form-control" placeholder="Search for friend's name" ng-model="friend.name" >

                <ul class="mp-friendships-list clearfix">
                    <li class="mp-frienships-list-item" ng-repeat="frienship in frienships">
                        <img ng-src="{{friendship}}" class="mp-friendships-list-friend-picture">
                        <span class="mp-friendships-list-friend-detail">Anqi</span>
                    </li>
                </ul>

                <div class="mp-invite-friends-promot" ng-class="{hide: friendship.length == 0}">
                    <p class="lead" ng-class="{hide: invitationCode}">It seems like you don't have any friends on this platform.</p>
                    <p class="lead" ng-class="{hide: !invitationCode}">Please share this url with your friend, you will automatically add them when they login.</p>
                    <div class="well" ng-class="{hide: !invitationCode}">{{invitationCode}}</div>
                    <a href="" class="btn btn-primary" ng-click="getInvitationCode()" ng-class="{hide: invitationCode}">Invite some!</a>
                </div>

            </div>

            <!-- footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="invite()">Add</button>
            </div>

        </div>
    </div>
</div>
<!-- END of Modal -->
