<!-- .mp-chat-history-item -->
<script type="text/ng-template" id="chat_history_user_behavior_template">

</script>


<!-- .mp-chat-history-item -->
<script type="text/ng-template" id="chat_history_message_template">
    <div class="mp-chat-user-picture">
        <img ng-src="{{chatItem.fb_user_picture}}" alt="" class="">
    </div>
    <div class="mp-chat-message">
        <p class="mp-chat-message-content">{{chatItem.content}}</p>
        <time class="mp-chat-message-datatime"></time>
    </div>
</script>


<!-- .mp-chat-history-item -->
<script type="text/ng-template" id="chat_history_place_template">

</script>
