<!-- mp-user-section -->
<script type="text/ng-template" id="mp_user_section_tempalte_logout">
  <a href="" class="mp-user-section-close-button" ng-click="interface.showUserSection = false"><i class="icon-remove"></i></a>

  <h1>Map Project <a href=""><small>about this</small></a></h1>

  <p>
    <a href="" class="btn btn-primary" ng-click="fbLogin()">Login with Facebook</a>
    <a href="" class="btn btn-default" ng-click="interface.showUserSection = false">Maybe later</a>
  </p>

  <p class="lead">OR</p>

  <form name="">
    <fieldset>
      <legend>Register</legend>
      <div class="form-group">
        <label for="mp_user_section_input_email">Email address</label>
        <input type="text" class="form-control" id="mp_user_section_input_email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="mp_user_section_input_password">Password</label>
        <input type="password" class="form-control" id="mp_user_section_input_password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="mp_user_section_input_confirm_password">Confirm password</label>
        <input type="password" class="form-control" id="mp_user_section_input_confirm_password" placeholder="Confirm password">
      </div>
      <p class="help-block">Already has an account? <a href="" ng-click="showEmailLogin()">Login here</a></p>
      <button class="btn btn-success">Submit</button>
    </fieldset>
  </form>
</script>


<!-- mp-user-section -->
<script type="text/ng-template" id="mp_user_section_tempalte_loginform">
  <a href="" class="mp-user-section-close-button" ng-click="interface.showUserSection = false"><i class="icon-remove"></i></a>

  <h1>Map Project <a href=""><small>about this</small></a></h1>

  <p>
    <a href="" class="btn btn-primary" ng-click="fbLogin()">Login with Facebook</a>
    <a href="" class="btn btn-default" ng-click="interface.showUserSection = false">Maybe later</a>
  </p>

  <p class="lead">OR</p>

  <form name="">
    <fieldset>
      <legend>Login</legend>
      <div class="form-group">
        <label for="mp_user_section_input_email">Email address</label>
        <input type="text" class="form-control" id="mp_user_section_input_email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="mp_user_section_input_password">Password</label>
        <input type="password" class="form-control" id="mp_user_section_input_password" placeholder="Password">
      </div>
      <p class="help-block">Not have an account yet? <a href="" ng-click="fbLogin()">Login with Facebook</a> or <a href="" ng-click="showEmailRegister()">register</a></p>
      <button class="btn btn-success">Login</button>
    </fieldset>
  </form>
</script>


<!-- mp-user-section -->
<script type="text/ng-template" id="mp_user_section_tempalte_login">
  <a href="" class="mp-user-section-close-button" ng-click="interface.showUserSection = false"><i class="icon-remove"></i></a>

  <div class="mp-user-section-user-info">
    <img ng-src="{{User.fb_user_picture()}}" alt="">
    <div class="mp-user-info-details">
      <div class="">{{User.name()}}</div>
      <div class="">{{User.email()}}</div>
    </div>
  </div>

  <div>
    <a href="" class="btn btn-default">New messages <span class="badge">{{}}</span></a>
    <a href="" class="btn btn-primary" ng-click="showFriendsPanel()">Friends</a>
    <a href="" class="btn btn-primary" ng-click="showFriendsPanel()">Add friends</a>
  </div>

  <div class="mp-user-section-bottom">
    <a href="" class="btn btn-warning" ng-click="logout()">Logout</a>
  </div>
</script>
