<script type="text/ng-template" id="mp_edit_project_modal_template">
  <div class="mp-modalbox-edit-project">
    <form class="form-horizontal" name="modalboxForm">
      <legend>Edit Project: {{modalbox.project.title}}</legend>
      <div class="form-group">
        <label for="mp_modalbox_input_project_title" class="col-lg-2 control-label">Title</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="mp_modalbox_input_project_title" placeholder="Project title" ng-model="modalbox.title" name="title" ng-required="true">
        </div>
      </div>
      <p class="text-danger">{{errorMessage}}</p>
      <div class="form-group">
        <label for="mp_modalbox_input_project_notes" class="col-lg-2 control-label">Notes</label>
        <div class="col-lg-10">
          <textarea id="mp_modalbox_input_project_notes" class="form-control" placeholder="Project notes" name="notes" ng-model="modalbox.notes"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="button" class="btn btn-danger" ng-click="deleteProject()">Delete</button>
          <button type="button" class="btn btn-primary" ng-click="saveProject()">Save</button>
          <button class="btn btn-default" ng-click="closeModal()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</script>
