<!-- mp-control-toolbar -->
<!-- MapView for OutsideViewCtrl-->
<script type="text/ng-template" id="mp_control_toolbar_mapview_template">
  <div class="mp-toolbar-actions">
    <a href="" class="mp-toolbar-action-button" bs-tooltip="Login" bs-tooltip-placement="top" ng-click="interface.showUserSection = true">
      <i class="icon-user"></i>
    </a>
    <a href="" class="mp-toolbar-action-button" bs-tooltip="Show current location" bs-tooltip-placement="top" mp-center-user-location>
      <i class="icon-location-arrow"></i>
    </a>
    <a href="" class="mp-toolbar-action-button" bs-tooltip="Save marked locations" bs-tooltip-placement="top" ng-click="interface.showUserSection = true">
      <i class="icon-save"></i>
    </a>
    <a href="" class="mp-toolbar-action-button" bs-tooltip="Share with friends" bs-tooltip-placement="top" ng-click="interface.showUserSection = true">
      <i class="icon-share-alt"></i>
    </a>
  </div>

  <div class="mp-inputbox mp-toolbar-inputbox" ng-init="controlToolbar.input = ''" mp-inputbox>
    <label class="">
      <i class="icon-remove mp-inputbox-icon" ng-class="{hide: controlToolbar.input.length == 0}" bs-tooltip="Clear input" bs-tooltip-placement="left" ng-click="clearInput(controlToolbar)"></i>
      <i class="icon-search mp-inputbox-icon" ng-class="{hide: controlToolbar.input.length > 0}" bs-tooltip="Search the map" bs-tooltip-placement="left"></i>
      <input type="text" class="mp-naked-input" bs-tooltip="Enter place your want to search" bs-tooltip-placement="top" mp-map-searchbox placeholder="search here" ng-model="controlToolbar.input">
    </label>
    <a href="" class="mp-inputbox-action-button">
        <i class="icon-arrow-right" bs-tooltip="Go!" bs-tooltip-placement="bottom"></i>
    </a>
  </div>
</script>


<!-- MapView for inside map view-->
<script type="text/ng-template" id="mp_control_toolbar_inside_mapview_template">
  <div class="mp-toolbar-actions">
    <a href="" class="mp-toolbar-action-button" bs-tooltip="Login" bs-tooltip-placement="top" ng-click="interface.showUserSection = true">
      <i class="icon-user"></i>
    </a>
    <a href="" class="mp-toolbar-action-button" bs-tooltip="Show current location" bs-tooltip-placement="top" mp-center-user-location>
      <i class="icon-location-arrow"></i>
    </a>
    <a href="/all_projects" class="mp-toolbar-action-button" bs-tooltip="Go back to all projects" bs-tooltip-placement="top">
      <i class="icon-arrow-left"></i>
    </a>
    <a href="" class="mp-toolbar-action-button" bs-tooltip="Share with friends" bs-tooltip-placement="top" ng-click="">
      <i class="icon-share-alt"></i>
    </a>
  </div>

  <div class="mp-inputbox mp-toolbar-inputbox" ng-init="controlToolbar.input = ''" mp-inputbox>
    <label class="">
      <i class="icon-remove mp-inputbox-icon" ng-class="{hide: controlToolbar.input.length == 0}" bs-tooltip="Clear input" bs-tooltip-placement="left" ng-click="clearInput(controlToolbar)"></i>
      <i class="icon-search mp-inputbox-icon" ng-class="{hide: controlToolbar.input.length > 0}" bs-tooltip="Search the map" bs-tooltip-placement="left"></i>
      <input type="text" class="mp-naked-input" bs-tooltip="Enter place your want to search" bs-tooltip-placement="top" mp-map-searchbox placeholder="search here" ng-model="controlToolbar.input">
    </label>
    <a href="" class="mp-inputbox-action-button">
        <i class="icon-arrow-right" bs-tooltip="Go!" bs-tooltip-placement="bottom"></i>
    </a>
  </div>
</script>


<!-- toolbar template for AllProjectView -->
<script type="text/ng-template" id="mp_control_toolbar_all_project_view_template">
  <div class="mp-toolbar-actions">
    <a href="" class="mp-toolbar-action-button" bs-tooltip="Login" bs-tooltip-placement="top" ng-click="interface.showUserSection = true">
      <i class="icon-user"></i>
    </a>
    <a href="/new_project" class="mp-toolbar-action-button" bs-tooltip="Add new project" bs-tooltip-placement="top">
      <i class="icon-plus"></i>
    </a>
    <a href="" class="mp-toolbar-action-button" bs-tooltip="Invite friends" bs-tooltip-placement="top" ng-click="interface.showUserSection = true">
      <i class="icon-group"></i>
    </a>
    <a href="" class="mp-toolbar-action-button" bs-tooltip="Change settings" bs-tooltip-placement="top" ng-click="">
      <i class="icon-cog"></i>
    </a>
  </div>

  <div class="mp-inputbox mp-toolbar-inputbox" ng-init="controlToolbar.input = ''" mp-inputbox>
    <label class="">
      <i class="icon-remove mp-inputbox-icon" ng-class="{hide: controlToolbar.input.length == 0}" bs-tooltip="Clear input" bs-tooltip-placement="left" ng-click="clearInput(controlToolbar)"></i>
      <i class="icon-search mp-inputbox-icon" ng-class="{hide: controlToolbar.input.length > 0}" bs-tooltip="Filter your projects" bs-tooltip-placement="left"></i>
      <input type="text" class="mp-naked-input" bs-tooltip="Filter your projects" bs-tooltip-placement="bottom" placeholder="search project" ng-model="controlToolbar.input">
    </label>
    <a href="" class="mp-inputbox-action-button">
        <i class="icon-arrow-right" bs-tooltip="Go!" bs-tooltip-placement="bottom"></i>
    </a>
  </div>
</script>
