<!-- mp-places-list -->
<script type="text/ng-template" id="mp_places_list_template">

  <!-- Marked Places -->
  <div class="mp-marked-places" jquery-ui-sortable="place in currentProject.places">

    <div class="mp-marked-places-header mp-list-actions">
      <a href="" class="mp-list-action-button" bs-tooltip="Display all marked items on map" bs-tooltip-placement="top" ng-click="displayAllMarkers()">
        <i class="icon-resize-full"></i>
      </a>
    </div>

    <div class="mp-marked-places-contents">
      <div class="mp-list-contents-header lead">{{ActiveProject.places.length}} marked places</div>

      <div class="mp-marked-place" ng-repeat="place in ActiveProject.places" sidebar-place>
        <div class="mp-place-marker-icon">
          <a href="" ng-click="centerPlaceInMap(place.$$marker.getPosition())">
            <img ng-src="/assets/number_{{$index}}.png">
          </a>
        </div>
        <div class="mp-place-actions">
          <a href="" ng-click="removePlace(place, $index)">
            <i class="icon-remove"></i>
          </a>
        </div>
        <div class="mp-place-detail-sidebar">
          <div class="mp-place-name-sidebar">{{place.name}}</div>
          <address>{{place.address}}</address>
          <p class="">{{place.notes}}</p>
        </div>
      </div>

    </div>
  </div>

  <!-- Search Results -->
  <div class="mp-places-search-results">

    <div class="mp-places-search-results-header mp-list-actions">
      <a href="" class="mp-list-action-button" bs-tooltip="Fold all details" bs-tooltip-placement="top" ng-click="">
        <i class="icon-check-minus"></i>
      </a>
      <a href="" class="mp-list-action-button" bs-tooltip="Show more details" bs-tooltip-placement="top">
        <i class="icon-collapse"></i>
      </a>
      <a href="" class="mp-list-action-button" bs-tooltip="Clear all results" bs-tooltip-placement="top" ng-click="clearSearchResults()">
        <i class="icon-remove"></i>
      </a>
    </div>

    <div class="mp-places-search-results-contents">
      <div class="mp-list-contents-header lead">Showing {{TheMap.searchResults.length}} search results</div>

      <div class="mp-place-search-result-item" ng-repeat="result in TheMap.searchResults">
        <div class="mp-place-marker-icon">
          <a href="" ng-click="centerPlaceInMap(result.geometry.location)">
            <img ng-src="{{result.icon}}">
          </a>
        </div>
        <div class="mp-place-actions">
          <a href="" ng-click="addPlaceToList(result.mpObject)">
            <i class="icon-ok"></i>
          </a>
        </div>
        <div class="mp-place-detail-sidebar">
          <div class="mp-place-name-sidebar">{{result.name}}</div>
          <address>{{result.formatted_address}}</address>
        </div>
      </div>

    </div>
  </div>
</script>


<!-- templates relate to map -->
<script type="text/ng-template" id="marker_info_window">
  <div class="mp-info-window-wrapper" marker-info>
    <div class="mp-info-window-title">{{place.name}}</div>
    <div class="mp-info-window-address">{{place.address}}</div>
    <div class="mp-info-window-options" ng-class="{hide: place.id}">
      <a href="" ng-click="addPlaceToList(place)">
        <i class="icon-ok"></i>
        Add to list
      </a>
    </div>
  </div>
</script>
