<!-- mp-control-toolbar -->
<script type="text/ng-template" id="mp_control_toolbar_template">
  <div class="mp-toolbar-actions">
    <a href="" class="mp-toolbar-action-button" ng-click="interface.showUserSection = true">
      <i class="icon-user"></i>
    </a>
    <a href="" class="mp-toolbar-action-button"><i class="icon-plus"></i></a>
    <a href="" class="mp-toolbar-action-button"><i class="icon-plus"></i></a>
    <a href="" class="mp-toolbar-action-button"><i class="icon-plus"></i></a>
  </div>

  <div class="mp-inputbox mp-toolbar-inputbox" ng-init="controlToolbar.input = ''" mp-inputbox>
    <label class="">
      <i class="icon-remove mp-inputbox-icon" ng-class="{hide: controlToolbar.input.length == 0}" ng-click="clearInput(controlToolbar)"></i>
      <i class="icon-search mp-inputbox-icon" ng-class="{hide: controlToolbar.input.length > 0}"></i>
      <input type="text" class="mp-naked-input" search-box placeholder="search here" ng-model="controlToolbar.input">
    </label>
    <a href="" class="mp-inputbox-action-button">
        <i class="icon-arrow-right"></i>
    </a>
  </div>
</script>


<!-- mp-user-section -->
<script type="text/ng-template" id="mp_user_section_tempalte_logout">
  <h1>Map Project</h1>

  <form name="">
    <fieldset>
      <legend>Register</legend>
      <div class="form-group">
        <label for="exampleInputEmail">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword">Confirm password</label>
        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Confirm password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>

  <p class="help-block">Already has an account? <a href="">Login here</a></p>

  <p class="lead">OR</p>

  <a href="" class="btn btn-primary" ng-click="fbLogin()">Login with Facebook</a>
  <a href="" class="btn btn-default" ng-click="interface.showUserSection = false">Maybe later</a>
</script>


<!-- mp-user-section -->
<script type="text/ng-template" id="mp_user_section_tempalte_login">
  <img ng-src="{{user.fb_user_picture}}" alt="">
  <div class="">{{user.name}}</div>

  <a href="" class="btn btn-warning" ng-click="logout()">Logout</a>
  <a href="" class="btn btn-default" ng-click="interface.showUserSection = false">Close</a>
</script>
