<!-- OutsideViewCtrl -->
<script type="text/ng-template" id="outside_view">
  <div class="mp-map-view-wrapper" ng-controller="MapCtrl">
    <div class="mp-map-canvas" google-map></div>
    <div class="mp-places-list" mp-places-list></div>
  </div>

  <div class="mp-control-toolbar" mp-control-toolbar></div>
</script>

<!-- New project view -->
<script type="text/ng-template" id="new_project_view">
  <div class="mp-map-view-wrapper" ng-controller="MapCtrl">
    <div class="mp-map-canvas" google-map></div>
    <div class="mp-places-list" mp-places-list></div>
  </div>

  <div class="mp-control-toolbar" mp-control-toolbar></div>
</script>


<!-- Project view -->
<script type="text/ng-template" id="project_view">
  <!-- chatbox -->
  <div class="mp-chatbox" ng-class="" mp-chatbox></div>

  <!-- map -->
  <div class="mp-map-view-wrapper" ng-controller="MapCtrl">
    <div class="mp-map-canvas" google-map></div>
    <div class="mp-places-list" mp-places-list></div>
  </div>

  <div class="mp-control-toolbar" mp-control-toolbar></div>
</script>


<!-- All projects view -->
<script type="text/ng-template" id="all_projects_view">
  <div class="mp-all-projects-list">
    <header class="mp-all-projects-list-header">All Projects <a href="/new_project">new project</a></header>
    <div class="mp-all-projects-list-masonry" mp-masonry='MpProjects.projects.length,controlToolbar.input'>


      <div class="mp-project-item" ng-repeat="project in MpProjects.projects | filter:controlToolbar.input" mp-all-projects-item>
        <div class="mp-project-item-cover" mini-map-cover></div>
        <div class="mp-project-item-detail">
          <header class="mp-project-item-header">
            <p class="lead">{{projectMessage}}</p>
            <a ng-click="openProjectView(project)" href="">{{project.title}} <span class="badge">{{project.places_attrs.places_count}}</span></a>
          </header>
          <a href="" ng-click="showEditProjectModal(project)">Edit project details</a>
          <p class="mp-project-item-notes">{{project.notes || "No notes yet..."}}</p>
        </div>
        <div class="mp-project-item-friends"></div>
      </div>


    </div>
  </div>

  <div class="mp-control-toolbar" mp-control-toolbar></div>

  <section class="mp-user-section" ng-class="{hide: !interface.showUserSection}" mp-user-section></section>
</script>
