<!-- mp-chatbox -->
<!-- ======================================== -->
<script type="text/ng-template" id="mp_chatbox_template">
  <a href="" ng-click="expandChatbox()" class="mp-chatbox-show-button">Show Chat box</a>
</script>


<script type="text/ng-template" id="mp_chatbox_template_expanded">

  <div class="mp-chatbox-expanded">
    <header class="mp-chatbox-header">
      <div class="mp-chatbox-header-friends-list">
        <a href="" class="mp-chatbox-header-friends-item" ng-repeat="friend in participatedUsers" bs-tooltip="{{friend.name}}" bs-tooltip-placement="bottom" ng-class="{'mp-chatbox-header-friends-item-online': friend.$$online}">
          <img ng-src="{{friend.fb_user_picture}}">
        </a>
      </div>
      <a href="" class="mp-chatbox-header-action-button mp-chatbox-header-close-button" ng-click="collapseChatbox()">
        <i class="icon-remove"></i>
      </a>
    </header>

    <!-- chat-history -->
    <div class="mp-chat-history" perfect-scrollbar="chatHistory.length" mp-chat-history>

      <!-- chat-item -->
      <div class="mp-chat-history-item" ng-repeat="chatItem in chatHistory" mp-chat-history-item></div>

    </div>

    <!-- chat-inputs -->
    <div class="mp-chat-inputs">
      <textarea name="" class="form-control mp-naked-input" placeholder="Say something" mp-chatbox-input></textarea>
      <button class="btn btn-default">Send</button>
    </div>
  </div>
</script>


<!-- chatbox components -->
<!-- //////////////////////////////////////// -->
<!-- .mp-chat-history-item -->
<script type="text/ng-template" id="chat_history_user_behavior_template">
  <div class="mp-chat-user-behavior">
      <p class="mp-chat-message-content">{{chatItem.userName}} {{chatItem.description}}</p>
      <time class="mp-chat-message-datatime"></time>
  </div>
</script>


<!-- .mp-chat-history-item -->
<script type="text/ng-template" id="chat_history_message_template">
    <div class="mp-chat-user-picture">
        <img ng-src="{{chatItem.sender_fb_user_picture}}" alt="" class="">
    </div>
    <div class="mp-chat-message">
        <p class="mp-chat-message-content">{{chatItem.body.message}}</p>
        <time class="mp-chat-message-datatime"></time>
    </div>
</script>


<!-- .mp-chat-history-item -->
<script type="text/ng-template" id="chat_history_place_template">
  <div class="mp-chat-added-place">
    <div class="mp-place-name-sidebar">{{chatItem.placeName}}</div>
    <address>{{chatItem.placeAddress}}</address>
    <p class=""></p>
    <time class="mp-chat-message-datatime"></time>
  </div>
</script>
