<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport"    content="width=device-width, initial-scale=1.0">
  <title>Map Project</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div app-view-segment="0" class="mp-application">

  <!-- Loader, this will be removed when angular runs -->
  <div class="mp-loading-screen">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Welcome to Map Project</h1>
          <ul class="lead" id="load_progress">
            <li class="">Loading assets...</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="fb-root"></div>
<%= javascript_include_tag 'require.js', :'data-main' => javascript_path('app_loader.js') %>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-40390313-3', 'herokuapp.com');
ga('send', 'pageview');
</script>

</body>
</html>
