<div class="mp-main-container">

    <!-- Main -->
    <ng-view class="mp-view-container"></ng-view>

    <!-- Chatbox -->
    <section class="mp-chatbox" ng-class="{'js-sidebar-slide-in': interface.showChatbox}"></section>

</div>


<%= render 'bs_modal' %>
<%= render 'ng_templates' %>
