//- replace: true
section.ly-pusher-side.md-side-menu

  .md-side-menu-promote
    .md-side-menu-promote-text-group
      p.lead Sign up with Facebook* to plan your next trip with friends
      p *More sign in options in the near future
    .md-side-menu-promote-button-group
      a.btn.btn-primary.btn-lg(href="", ng-click="outsideViewCtrl.loginWithFacebook()") Sign up with Facebook
      p this could also help you sign in

  .md-side-menu-intro
    p.lead What you can get by signing up
    ul
      li Save your maps
      li Plan trips with friends on internet in real time
      li Access your maps from any device (coming)
