//- replace: true
section.ly-pusher-side.md-side-menu(perfect-scrollbar="insideViewCtrl.MpNotification.notifications.length")

  //- User
  .md-side-menu-user
    div
      img.md-side-menu-user-picture(ng-src="{{MpUser.fb_user_picture()}}")
    p.lead.md-side-menu-user-name
      {{MpUser.name()}}

  //- Menu
  ul.md-side-menu-actions.clearfix

    li.md-side-menu-actions-item
      a.md-side-menu-actions-item-anchor(href="", ng-click="insideViewCtrl.createNewProject()")
        i.icon-plus
        | New project
    li.md-side-menu-actions-item
      a.md-side-menu-actions-item-anchor(href="/dashboard")
        i.icon-th-large
        | All projects
    li.md-side-menu-actions-item
      a.md-side-menu-actions-item-anchor(href="/friends")
        i.icon-group
        | Friends
    li.md-side-menu-actions-item
      a.md-side-menu-actions-item-anchor(href="/search")
        i.icon-search
        | Find friends


    li.md-side-menu-actions-item
      a.md-side-menu-actions-item-anchor(href="/settings")
        i.icon-cog
        | Settings
    li.md-side-menu-actions-item
      a.md-side-menu-actions-item-anchor(href="", ng-click="")
        i.icon-heart
        | Invite friends
    li.md-side-menu-actions-item
      a.md-side-menu-actions-item-anchor(href="", ng-click="")
        i.icon-off
        | Logout

  //- Notification
  ol.md-side-menu-notifications()
    li.md-side-menu-notifications-item.md-notice.clearfix(ng-repeat="notice in insideViewCtrl.MpNotification.notifications", md-notification-item="")
