//- Container: section.ly-pusher-content(app-view-segment="1")

.ly-fullscreen(ng-controller="MapCtrl as mapCtrl")

  .md-chatbox(md-chatbox="")

  div(md-bottom-bar="")

  .md-map
    .md-map-canvas(mp-map-canvas="")
    .md-drawer.clearfix(md-drawer="", ng-class="{'md-drawer-double-size': projectViewCtrl.activeSection == 'both', 'md-drawer-show': projectViewCtrl.showDrawer}")
    .md-modal.md-effect-3.md-map-modal(md-project-modal="", ng-class="{'md-modal-show': mdProjectModalCtrl.showModal}")
    .md-modal-overlay.md-map-modal-overlay
