<div class="cp-pusher" ng-class="{'cp-pusher-pushed': interface.showUserSection}">

  <section class="cp-pusher-side mp-user-section" mp-user-section></section>

  <section class="cp-pusher-content">

    <div class="mp-bottom-drawer clearfix" mp-map-drawer ng-class="{'mp-bottom-drawer-show': interface.showMapDrawer}"></div>
    <div class="mp-fullscreen" mp-map-canvas></div>

    <div class="md-homepage" ng-class="{'md-homepage-fadeout': !interface.centerSearchBar}">
      <header class="md-homepage-header">
        <a href="" ng-click="interface.showUserSection = true">Login/Register</a>
        <a href="" ng-click="">Login with Facebook</a>
      </header>
      <div class="container">
        <div class="md-homepage-body">
          <h1>Map Project is a ...</h1>
          <div class="md-homepage-half col-sm-6">
            <h3>Trip planner with friends</h3>
            <ul class="">
              <li>Your friends and you can mark places, set directions on the same map</li>
              <li>You can chat online at the same time</li>
              <li>All of your friends will get the same result whenever they open the map</li>
            </ul>
          </div>
          <div class="md-homepage-half col-sm-6">
            <h3>Map marker for places</h3>
            <ul class="">
              <li>Save your favoriate place for late</li>
              <li>Mange your marker with seperate maps</li>
              <li>Access your maps on any device (coming)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>

  <div class="cp-pusher-overlay" ng-click="interface.showUserSection = false"></div>
</div>
