<div class="cp-pusher" ng-class="{'cp-pusher-pushed': interface.showUserSection}">

  <section class="cp-pusher-side mp-user-section" mp-user-section></section>

  <section class="cp-pusher-content">

    <div class="mp-bottom-drawer clearfix" mp-map-drawer ng-class="{'mp-bottom-drawer-show': interface.showMapDrawer}"></div>
    <div class="mp-fullscreen" mp-map-canvas></div>

    <div class="md-homepage" ng-class="{'md-homepage-fadeout': !interface.centerSearchBar}">
      <header class="md-homepage-header">
        <a href="" class="btn btn-primary" ng-click="MpUser.login('/home')">Login with Facebook</a>
        <a href="" ng-click="interface.showUserSection = true">Login/Register</a>
      </header>
      <div class="container">
        <div class="md-homepage-body">
          <h1>Map Project = Trip planner + Map marker</h1>
          <h3>for your friends and you</h3>
          <ul class="lead">
            <li>Your friends and you can mark places on the same map, at the same time</li>
            <li>Save your favoriate place for late</li>
            <li>Access your maps on any device (coming)</li>
          </ul>
        </div>
      </div>
    </div>

  </section>

  <div class="cp-pusher-overlay" ng-click="interface.showUserSection = false"></div>
</div>
