.cp-pusher(ng-class="{'cp-pusher-pushed': interface.showUserSection}")

  section.cp-pusher-side.mp-user-section(mp-user-section="mp-user-section")

  section.cp-pusher-content(app-view-segment="1")

  .cp-pusher-overlay(ng-click="interface.showUserSection = false")
