//- Container: .ly-application
.ly-pusher(ng-class="{'ly-pusher-pushed': interface.showUserSection}")

  //- Menu
  section.ly-pusher-side.md-side-menu(md-side-menu="")

  //- Body
  section.ly-pusher-content(app-view-segment="1")

  //- Pop notice
  ol.md-notice-pop-container(md-notice-pop="")
    li.md-notice-pop.clearfix(ng-repeat="notice in mdNoticePop.notices")
      a.md-notice-pop-click.clearfix(href="", ng-click="interface.showUserSection = true")
        .md-notice-image
          img(ng-src="{{notice.sender.fb_user_picture}}")
        .md-notice-body
          header.md-notice-body-header
            b {{notice.sender.name}}
            |  wants to add you as friend


  //- Overlay
  .ly-pusher-overlay(ng-click="interface.showUserSection = false")
