.md-drawer.clearfix(mp-map-drawer="mp-map-drawer", ng-class="{'md-drawer-maxmize': drawerCtrl.maxmize}")
.mp-fullscreen(mp-map-canvas="mp-map-canvas")

.mp-chatbox-directive(ng-class="", mp-chatbox-directive="mp-chatbox-directive")

//- Add friends to project modal
.md-modal.md-effect-3(mp-project-add-friends-modal="showProjectAddFriendsModal")
//- md-modal and md-overlay must be placed next to each other for modal directive to work
.md-overlay
//- END
