// --- Container ---
.md-chatbox {
  height: 100%;
}


// --- Level 1 ---
.md-chatbox-friends {
  display       : inline-block;
  width         : 350px - 40px;
  list-style    : none;
  margin        : 0;
  padding       : 0;
  vertical-align: top;
  text-align    : right;
}

.md-chatbox-bb-button {
  @extend .md-bb-button;

  &.md-chatbox-bb-button-expanded {
    width: 100%;
    i {
      display       : inline-block;
      width         : 40px;
      height        : 40px;
      vertical-align: middle;
      line-height   : 40px;
    }
  }
}


// --- Level 2 ---
.md-chatbox-friend {
  display: inline-block;
}

.md-chatbox-bb-button-title {
  display: inline-block;
  width  : 350px - 40px;
}


// --- Deep Levels ---
// friends pictures
.md-chatbox-f-picture {
  display: inline-block;
  height : 40px;
  width  : 40px;
  img {
    height: 40px;
    width : 40px;
  }
}

