// --- Container ---
.md-chatbox {
  height  : 100%;
  position: relative;
}


// --- Level 1 ---
.md-chatbox-friends {
  display       : inline-block;
  width         : 350px - 40px;
  list-style    : none;
  margin        : 0;
  padding       : 0;
  vertical-align: top;
  text-align    : right;
}

.md-chatbox-bb-button {
  @extend .md-bb-button;

  &.md-chatbox-bb-button-expanded {
    width: 100%;
    i {
      display       : inline-block;
      width         : 40px;
      height        : 40px;
      vertical-align: middle;
      line-height   : 40px;
    }
  }
}


// --- Level 2 ---
.md-chatbox-friend {
  display: inline-block;
}

.md-chatbox-bb-button-title {
  display: inline-block;
  width  : 350px - 40px;
}


// --- Levels >= 3 ---
// friends pictures
.md-chatbox-f-picture {
  display: inline-block;
  height : 40px;
  width  : 40px;
  img {
    height: 40px;
    width : 40px;
  }
}


// --- Chatbox Body ---
.md-chatbox-body {
  position: absolute;
  bottom  : 40px;
  right   : 0;
  height  : 400px;
  width   : 300px;
  background-color: #FFF;

  &.md-chatbox-body-hide {
    display: none;
  }
}

.md-chatbox-b-header {
  height: 40px;
  background-color: $blue;
  color: #FFF;
}

.md-chatbox-b-history {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  bottom: 54px;
}

.md-chatbox-b-inputs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;

  textarea {
    @extend .form-control;
    padding: 6px;
    resize: none;
  }
}
