// container
.md-drawer {
  @include transition();
  position: absolute;
  z-index: 100;
  left: 20px;
  top: 20px;
  bottom: 20px;
  width: 350px;
  visibility: hidden;
  opacity: 0;
  background-color: white;

  &.md-drawer-show {
    visibility: visible;
    opacity: 1;
  }

  &.md-drawer-double-size {
    width: 700px;
  }
}

// --- Top ---
.md-drawer-topbar {
  height: 40px;
  @include display-flex();
}

.md-drawer-topbar-button {
  @include flex-basis(40px);
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  background-color: $gray1;

  color: $gray6;
  &:hover {
    color: $blue;
    text-decoration: none;
  }

  &.active {
    background-color: white;
    color: $blue;
  }
}

.md-drawer-topbar-button-fill {
  @include flex-grow(1);
}

// --- Body ---
.md-drawer-body {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.md-drawer-body-section {
  display: inline-block;
  width: 350px;
  height: 100%;
  overflow-y: auto;
  vertical-align: top;
}

.md-drawer-list-header {
  padding: 10px;
  margin-bottom: 0;
}
