// --- Container ---
$drawerWidth: 350px;

.md-drawer {
  @extend .clearfix;
  position        : absolute;
  left            : 0;
  top             : 0;
  bottom          : 0;
  width           : $drawerWidth;
  background-color: $blue;

  @include translate3d(-100px, 0, 0);
}


// --- Animation ---
.md-drawer {
  &.md-drawer-show-add,
  &.md-drawer-show-remove {
    &, + .md-map-canvas, ~ .md-map-controls {
      @include transition(all, 400ms, cubic-bezier(0.215, 0.61, 0.355, 1));
    }
    + .md-map-canvas, ~ .md-map-controls {
      @include translate3d(0,0,0);
    }
  }

  &.md-drawer-show-add,
  &.md-drawer-show-remove.md-drawer-show-remove-active {
    @include translate3d(-100px, 0, 0);
    + .md-map-canvas {
      left: 0;
    }
    ~ .md-map-controls {
      left: 5px;
    }
  }

  &.md-drawer-show,
  &.md-drawer-show-add.md-drawer-show-add-active,
  &.md-drawer-show-remove {
    @include translate3d(0,0,0);
    + .md-map-canvas {
      left: $drawerWidth;
    }
    ~ .md-map-controls {
      left: $drawerWidth + 5px;
    }
  }
}


// --- Level 1 ---
