.md-friends {
  height: 100%;
  overflow-y: auto;
  background-color: $gray1;
  padding-top: 50px;
  padding-bottom: 100px;
}

.md-friends-list {
  margin-top: 50px;
}

.md-friends-list-item {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
