.md-homepage {
  @include transition();
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $aquaDark;
  visibility: visible;
  opacity: 1;
  overflow-y: auto;
  color: white;

  &.md-homepage-fadeout {
    opacity: 0;
    visibility: hidden;
  }
}

.md-homepage-header {
  height: 55px;
  line-height: 55px;
  a {
    margin-left: 20px;
    color: white;
    vertical-align: baseline;
  }
}

.md-homepage-body {
  margin-top: 80px;
  text-align: center;
}

.md-homepage-h1 {
  margin-bottom: 50px;
}

.md-homepage-linktoreason {
  color: white;
  text-decoration: underline;
  &:hover {
    color: $gray2;
  }
}

.md-homepage-guidetostart {
  position: absolute;
  bottom: 120px;
  left: 0;
  width: 100%;
}
