.md-infowindow-wrapper {
  // TODO: fix google map infoWindow overflow on bottom
  width: 300px;
}

.md-infowindow-route {
  color: $blue;
}


// --- Detailed Info Window ---
.md-iw-name {
  font-weight: 400 !important;
}


@media screen and (max-width: 340px) {
  .md-infowindow-wrapper {
    width: 240px;
  }
}
