// --- Detailed Info Window ---
.md-iw-name {
  font-weight: 400 !important;
}


// --- Directions ---
.md-iw-directions {
  margin-top: 10px;
  color     : $mint;
}


.md-iw-d-distance {}


.md-iw-d-duration {
  color    : $mint;
  font-size: 24px !important;
}
