// --- Container ---
.md-places {
  list-style-type: none;
  padding        : 0;
  margin         : 0;
}


// --- Level 1 ---
.md-places-item {
  @extend .clearfix;
  margin: 10px;
  background-color: #FFF;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  color: $gray6;
}


// --- Level 2 ---
.md-places-item-image {
  float: left;
  img {
    margin-top: 2px;
    width     : 25px;
  }
}

.md-places-item-actions {
  float: right;
  a {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-sm;
    &.md-places-item-actions-remove {
      @extend .btn-danger;
    }
  }
}

.md-places-item-header {
  display: block;
  overflow: hidden;
  padding-right: 10px;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.md-places-item-detail {
  margin-top: 10px;
}

.md-places-item-photos {
  margin-top: 10px;
  img {
    vertical-align: top;
    margin-right: 12px;
    &:last-child { margin-right: 0; }
  }
}

.md-places-item-more-info-button {
  display: block;
  margin-top: 10px;
}

.md-places-item-more-actions {
  @extend .btn-group;
  margin-top: 10px;
}

// google map info window
.md-places-item-info-window-actions {
  margin-top: 10px;
}


// --- More Levels ---
.md-places-item-name {
  font-size: 16px !important; // override rules in google map info window
  line-height: 1;

  a.reorder {
    float: left;
    display: inline-block;
    color: $gray4;
    height: 16px;
    padding: 0 5px;
    margin-right: 10px;
    cursor: move;
    @include transition();
    &:hover {
      text-decoration: none;
      color: $gray6;
    }
  }

  a.name {
    overflow: hidden;
    display: block;
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.md-places-item-address {
  font-weight: 300 !important; // override `.md-info-window-content *` rules
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 1.2 !important; // override rules in google map info window
}

.md-places-item-price {
  width: 50px;
  display: inline-block;
}

.md-places-item-rating {
  color: $yellow;
  width: 80px;
  display: inline-block;
}

.md-places-item-website {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.md-places-item-more-action-button {
  @extend .btn;
  @extend .btn-default;
}

// google map info window
.md-places-item-info-window-action-button {
  @extend .btn;
  @extend .btn-success;
  @extend .btn-sm;
  font-size: 12px !important;
  i { font-size: inherit !important; }

  &.remove { @extend .btn-danger; }
}
