.md-projects {
  padding: 20px 80px;
  margin-bottom: 50px;
  list-style-type: none;
  .md-project {
    &::after {
      display: none;
    }
  }
}

.md-projects-item {
  width: 300px;
  margin: 0 10px 20px;
  float: left;
  border: 1px solid rgba(0,0,0,.3);
}

.md-projects-create {
  height: 257px;
  background-color: $cloud;
  position: relative;
  a {
    display: block;
    height: 100%;
    color: inherit;
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    font-size: 32px;
  }
}
