// --- Container ---
.md-places {
  list-style-type: none;
  padding        : 0;
  margin         : 0;
}


// --- Level 1 ---
.md-places-item {
  @extend .clearfix;
  margin: 10px;
  background-color: #FFF;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  color: $gray6;
}


// --- Level 2 ---
.md-places-item-image {
  float: left;
  img {
    margin-top: 2px;
    width     : 25px;
  }
}

.md-places-item-actions {
  float: right;
  a {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-sm;
  }
}

.md-places-item-header {
  display: block;
  overflow: hidden;
  padding-right: 10px;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.md-places-item-detail {
  margin-top: 10px;
}

.md-places-item-photos {
  margin-top: 10px;
}


// --- More Levels ---
.md-places-item-name {
  font-size: 16px;
  line-height: 1;
}

.md-places-item-address {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 1.2;
}

.md-places-item-price {
  width: 50px;
  display: inline-block;
}

.md-places-item-rating {
  color: $yellow;
  width: 80px;
  display: inline-block;
}
