.md-searchbox {
  // Already display: absolute
}

// Input group
.md-searchbox-inputgroup {
  @include display-flex();

  .md-searchbox-inputgroup-button {
    display: inline-block;
    height: 45px;
    width: 45px;
    vertical-align: top;
    background-color: $blue;
    color: white;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    &:hover {
      text-decoration: none;
      background-color: $blueDark;
    }
  }

  .md-searchbox-inputgroup-input {
    @include flex-grow(1);
    font-size: 20px;
    height: 45px;
    background-color: $gray1;
  }
}

// Results
.md-searchbox-results {
  position: absolute;
  bottom: 45px;
  left: 0;
  width: 100%;
}
