.md-search-view {
  height          : 100%;
  overflow-y      : auto;
  background-color: $gray1;
  padding         : 40px 0 100px 40px;
}


// --- List ---
.md-search-view-list {
  @extend .clearfix;
}


.md-search-view-list-item {
  margin: 0 40px 40px 0;
  float : left;
}
