.md-searchbar {
  @include transition();
  @include display-flex();

  position: relative;

  input[type="text"] {
    @include flex-grow(1);
  }

  button.cp-input-btn.btn-default {
    border-right: none;
    &:hover {
      background-color: $blue;
      color: white;
    }
  }

  &.md-homepage-centered {
    left: 50%;
    top: -100px !important;
  }
}

.md-drawer {
  .md-searchbar {
    top: -54px;
  }

  &.md-drawer-show {
    .md-searchbar {
      top: 0;
    }
  }
}


// Smaller screen
$max-width: 433px; // 433px is where homepage h1 becomes three line

@media screen and (max-width: $max-width) {
  .md-searchbar.md-homepage-centered {
    top: -55px !important;
  }
}
