.md-searchbar {
  @include transition();
  @include display-flex();

  position: relative;
  left: 50%;
  &.md-searchbar-normal {
    left: 0;
  }

  input[type="text"] {
    @include flex-grow(1);
  }

  button.cp-input-btn.btn-default {
    border-right: none;
    &:hover {
      background-color: $blue;
      color: white;
    }
  }
}

// Smaller screen
$max-width: 433px; // 433px is where homepage h1 becomes three line

@media screen and (max-width: $max-width) {

}
