// Chatbox
// ========================================
.mp-chatbox-directive {

}

.mp-chatbox-show-button {
    display: block;
    position: fixed;
    bottom: 0;
    width: 200px;
    height: 35px;
    right: 40px;
    background-color: $blue;
    color: white;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
    z-index: 900;
    &:hover {
        text-decoration: none;
        color: white;
        background-color: $blueDark;
    }
}

.mp-chatbox-show {
    + .mp-map-view-wrapper {
        .mp-places-list {
            right: 332px;
        }
    }


    ~ .mp-control-toolbar {
        right: 332px;
    }
}

// mp-chatbox-directive-expanded
// ========================================
.mp-chatbox-expanded {
    position: fixed;
    z-index: 900;
    top: 10px;
    bottom: 0;
    right: 10px;
    width: 302px;
    background-color: white;

    border: 1px solid #999;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    border-radius: 1px;
}

// mp-chatbox-directive-header
// ----------------------------------------
.mp-chatbox-header {
    height: 35px;
    border-bottom: 1px solid $blueDark;
    background-color: $blue;
    color: white;
    position: relative;
}

.mp-chatbox-header-action-button {
    display: block;
    height: 35px;
    width: 35px;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
        background-color: $blueDark;
    }
}

.mp-chatbox-header-close-button {
    position: absolute;
    top: 0;
    right: 0;
}

// mp-chatbox-header-friends-list
.mp-chatbox-header-friends-list {
    height: 100%;
}

.mp-chatbox-header-friends-item {
    display: block;
    height: 34px;
    width: 34px;
    float: left;
    padding: 2px;
    opacity: 0.2;
    &.mp-chatbox-header-friends-item-online {
        opacity: 1;
    }

    img {
        height: 30px;
        width: 30px;
    }
}


// mp-chat-history
// ----------------------------------------
.mp-chat-history {
    overflow: hidden;
    position: absolute;
    top: 35px;
    bottom: 60px;
    width: 100%;
}

// mp-chat-history-item
.mp-chat-history-item {
    @include display_flex;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    margin: 5px;

    &.mp-chat-history-self {
        @include justify-content(flex-end);

        .mp-chat-user-picture {
            -webkit-order: 2;
            order: 2;
        }

        .mp-chat-message {
            margin-left: 0;
            margin-right: 5px;
            -webkit-order: 1;
            order: 1;
        }
    }
}

.mp-chat-user-picture {
    width: 40px;
    height: 40px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 2px;
    }
}

// mp-chat-message
.mp-chat-message {
    margin-left: 5px;
    background-color: $blue;
    color: white;
    padding: 3px;
    min-width: 60px;
    max-width: 244px;
    border-radius: 2px;

    p {
        margin-bottom: 0;
    }
}

.mp-chat-message-content {
    word-wrap: break-word;
}

// mp-chat-user-behavior
.mp-chat-user-behavior {
    color: $gray3;
    p {
        margin-bottom: 0;
    }
}


// mp-chat-inputs
// ----------------------------------------
.mp-chat-inputs {
    position: absolute;
    bottom: 0;
    border-top: 1px solid $gray2;
    width: 100%;
    height: 60px;
    textarea {
        resize: none;
        width: 239px;
        float: left;
    }
    button {
        float: right;
    }
}
