.mp-notification-center {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  height: 100%;
  position: relative;
  overflow: hidden;

  li {
    margin-bottom: 10px;
    img {
      float: left;
    }
  }
}
