.mp-bottom-modalbox {}

.mp-bottom-modalbox-bg {
    @include transition(opacity);
    position: fixed;
    background-color: rgba(0,0,0,.7);
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.mp-bottom-modalbox-container {
    @include transition();
    position: fixed;
    z-index: 800;
    left: 0;
    bottom: -500px;
    width: 100%;
    height: 500px;
    padding: 20px;
    background-color: white;
}

.mp-bottom-modalbox-show {
    .mp-bottom-modalbox-bg {
        opacity: 1;
        visibility: visible;

    }
    .mp-bottom-modalbox-container {
        bottom: 0;
    }
}

.mp-modalbox-edit-project {
    position: relative;
    width: 600px;
}
