// jq-eady-modal-inner
.jq-eady-modal-inner {

}

// mp-friends-panel
.mp-friends-panel {
    background-color: white;
    padding: 20px;
}
.mp-friends-panel-search-section {
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 20px;
}

.mp-friends-panel-friends-list {
    width: 400px;
    float: right;
}
