// Map View
// ========================================
.mp-map-view-wrapper {
    position: relative;
    overflow: hidden;
}


.mp-map-container {
    position: relative;
}


// Places List
// ----------------------------------------
// mp-places-list
.mp-places-list {
    @include transition();
    border: 1px solid #999;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    position: absolute;
    top: 122px;
    right: 40px;
    width: 402px;
    background-color: white;
    overflow: hidden;
}

.mp-list-actions {
    @include display_flex();
    border-bottom: 1px solid $gray3;
}

.mp-list-action-button {
    @include flex_grow(1);
    display: block;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    color: $gray6;
    border-right: 1px solid $gray3;
    &:last-child {
        border-right: none;
    }
    &:hover {
        color: $blue;
        text-decoration: none;
        background-color: $gray1;
    }
}

.mp-list-contents-header {
    text-indent: 20px;
    margin-bottom: 0;
    height: 50px;
    line-height: 50px;
}


// marked places
// ----------------------------------------
.mp-marked-places {
    border-bottom: 1px solid $gray3;
}

.mp-marked-place {
    margin: 5px;
}

.mp-place-marker-icon {}


// mp-places-search-results
// ----------------------------------------
.mp-places-search-results {}

.mp-places-search-results-header {}

.mp-place-search-result-item {
    padding: 10px;
    border-top: 1px solid $gray3;
    .mp-place-marker-icon img {
        width: 20px;
        height: 20px;
    }
    address {
        margin-bottom: 0;
    }
    &:hover {
        background-color: $gray1;
    }
}
