.mp-user-section {
    @include transition();
    position: fixed;
    z-index: 900;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    background-color: white;
    border-right: 1px solid #999;
    overflow: hidden;
    padding: 20px;
}

.mp-user-section-show {
    left: 0px;
}

// controls
.mp-user-section-close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 18px;
    width: 18px;
    font-size: 18px;
    display: block;
    line-height: 18px;
    text-align: center;
    color: $gray3;
    &:hover {
        text-decoration: none;
        color: $gray6;
    }
}

// mp-user-section-bottom
.mp-user-section-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 20px 20px;
}
