.mp-user-section {
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: white;
    border-right: 1px solid #999;
    overflow: hidden;
    padding: 20px;
}
