//- Container: section.ly-pusher-content(app-view-segment="1")

.md-chatbox(md-chatbox="")

.ly-fullscreen(ng-controller="MapCtrl as mapCtrl")

  .md-drawer.clearfix(md-drawer="", ng-class="{'md-drawer-maxmize': drawerCtrl.maxmize}")
  .md-map-canvas(mp-map-canvas="")
  div(md-bottom-bar="")

  //- Edit project, manage participants, add friends to project modal
  .md-modal.md-effect-3(md-project-modal="", ng-class="{'md-modal-show': mdProjectModalCtrl.showModal}")
  .md-modal-overlay
