a.md-aside-close(href="", ng-click="interface.showUserSection = false")
  i.icon-remove

.md-aside-user.clearfix
  img.md-aside-user-picture(ng-src="{{MpUser.fb_user_picture()}}")
  .md-aside-user-detail
    .md-aside-user-name {{MpUser.name()}}
    div {{MpUser.email()}}

//- Tabs <--> Pages
.md-aside-middle(md-tabset)
  //- Tabs
  .md-aside-tabs.btn-group(md-tabs)
    button.btn.btn-primary Notification
      span.badge {{MpChatbox.notifications.length}}
    button.btn.btn-default Friends
    button.btn.btn-default
      i.icon-search

  .md-aside-pages(md-pages)
    //- Page 1
    //-
    .md-aside-pages-item(perfect-scrollbar="")
      ol.md-notifications
        li.md-notifications-item(ng-repeat="notice in MpChatbox.notifications")
          img.md-aside-user-picture(ng-src="{{notice.sender.fb_user_picture}}")
          .md-aside-user-detail
            .md-aside-user-name {{notice.sender.name}}
            //- Notice body
            //- addFriendRequest
            .md-notifications-item-action(ng-show="notice.type == 'addFriendRequest'")
              p Wants to add you as a friend
              .btn-group
                button.btn.btn-primary(ng-click="mpUserSection.acceptFriendRequest(notice)") Accept
                button.btn.btn-default(ng-click="mpUserSection.ignoreFriendRequest(notice)") Ignore
            //- friendAcceptNotice
            .md-notifications-item-action(ng-show="notice.type == 'friendAcceptNotice'")
              p Accepted your friend request

    //- Page 2
    .md-aside-pages-item(perfect-scrollbar="")
      ul.mp-friends-list
        li.mp-friend-item(ng-repeat="friend in MpChatbox.friends")
          img(ng-src="{{friend.fb_user_picture}}")
          | {{friend.name}}

    //- Page 3
    .md-aside-pages-item
      .md-aside-search
        input.form-control(type="text", placeholder="Search user's name", ng-model="mpUserSection.searchFriendsInput")
        ul.md-aside-search-list(perfect-scrollbar="mpUserSection.searchFriendsResults.length")
          li.md-aside-search-item(ng-repeat="user in mpUserSection.searchFriendsResults")
            img(ng-src="{{user.fb_user_picture}}")
            | {{user.name}}
            a(href="", ng-click="mpUserSection.sendFriendRequest(user)") add friend
            .md-aside-search-warning {{user.systemMessage}}


.md-aside-bottom
  a.btn.btn-warning(href="", ng-click="mpUserSection.logout()") Logout
