//- Container: section.ly-pusher-content(app-view-segment="1")
.md-search-view

  //- Body
  .container
    ol.md-search-view-list.md-user-list.clearfix
      li.md-search-view-list-item.md-user-list-item(ng-repeat="user in searchViewCtrl.searchResults")
        a.md-user-list-item-picture(href="")
          img(ng-src="{{user.fb_user_picture}}")
        .md-user-list-item-detail
          a.md-user-list-item-detail-name(href="") {{user.name}}
        .md-user-list-item-actions
          a.btn(href="", ng-click="searchViewCtrl.addUserAsFriend(user)", ng-disabled="user.added", ng-class="{'btn-primary': user.added && !user.pending, 'btn-success': !(user.added && !user.pending)}")
            | {{user | searchFriendsStatusFilter}}

    p.lead(ng-show="searchViewCtrl.showNoResults") Sorry, we cannot find user with name "{{searchViewCtrl.lastSearchInput}}" that is not your friend


  //- Bottom
  .md-bottom-bar
    .md-bottom-bar-button-group
      //- show side menu
      a.md-bottom-bar-button.md-bottom-bar-notification-button(href="", ng-click="interface.showUserSection = true")
        i.icon-reorder
        .md-bottom-bar-notification-count(ng-show="mdNoticePop.unreadNotice", ng-cloak="") {{mdNoticePop.unreadNotice}}
      input.md-bottom-bar-input(type="text", placeholder="Enter name to search", ng-model="searchViewCtrl.searchInput", md-search-view-searchinput="")

    .md-bottom-bar-button-group-center.md-bottom-bar-text
      {{searchViewCtrl.searchResults.length}} results

    .md-bottom-bar-button-group
      //- placeholder: to push .md-bottom-bar-button-group-center to center
