//- Container: .ly-application
.ly-pusher(ng-class="{'ly-pusher-pushed': interface.showUserSection}")

  section.ly-pusher-side.mp-user-section(mp-user-section="mp-user-section")

  section.ly-pusher-content

    .mp-fullscreen(ng-controller="MapCtrl as mapCtrl")

      .md-drawer.clearfix(mp-map-drawer="mp-map-drawer", ng-class="{'md-drawer-maxmize': drawerCtrl.maxmize}")
      .mp-fullscreen(mp-map-canvas="mp-map-canvas")

    //- Homepage
    .md-homepage(ng-class="{'md-homepage-fadeout': !interface.centerSearchBar}")
      header.md-homepage-header
        a.btn.btn-primary(href="", ng-click="MpUser.login('/home')") Login with Facebook
        a(href="", ng-click="interface.showUserSection = true") Login/Register

      .container
        .md-homepage-body
          h1.md-homepage-h1 Why create a travel plan with friends is so hard?
          h4
            | Not any more!&nbsp;
            a.md-homepage-linktoreason(href="") Why is that?

        .md-homepage-intro
          .md-homepage-intro-bg

  .ly-pusher-overlay(ng-click="interface.showUserSection = false")
