//= require bootstrap.css
//= require font-awesome.scss
//= require perfect-scrollbar-0.4.3.min.css
//= require_self


@import "variables/colors";
@import "mixins/flexbox";
@import "mixins/animation";
@import "mixins/border-shadows";

@import "base/base";

@import "layouts/base-layout";
@import "layouts/map-layout";

@import "components/mp-inputbox";
@import "components/mp-side-tabs";
@import "components/md-modal";

@import "modules/mp-loading-screen";
@import "modules/mp-user-section";
@import "modules/mp-notification-center";
@import "modules/mp-bottom-drawer";
@import "modules/mp-all-projects-view";
@import "modules/mp-navbar-bottom";
@import "modules/mp-chatbox-directive";
@import "modules/mp-project-add-friends-box";
@import "modules/mp-friends-list";





@import 'modules/mp_control_toolbar';
@import 'modules/mp_headsup_messager';
@import 'modules/mp_bottom_modalbox';
@import 'modules/mp_easy_modals';
@import 'modules/mp_map';


@import "shame";




// Navbar
// ----------------------------------------
.mp-navbar-top {
    background-color: rgba($cyan, 0.8);
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    color: white;
    text-align: center;
    @include display_flex;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.mp-navbar-inputs {
    @include flex_grow(1);
    @include display_flex;
}

.mp-navbar-button {
    display: block;
    color: white;
    padding: 0 10px;
    &:hover {
        text-decoration: none;
        color: white;
        background-color: $cyanDark;
    }
    i {
        display: inline-block;
        min-width: 30px;
    }
}

.mp-naked-input {
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    border-radius: 0;
    &:focus {
        box-shadow: none;
    }
}

.mp-navbar-search-box {
    position: relative;
    @include flex_grow(1);

    input {
        @extend %transition;
        background-color: rgba($blue, 0.8);
        height: 50px;
        line-height: 1.619047619;
        font-size: 21px;
        padding-left: 12px + 21px + 5px;
        padding-right: 12px + 21px + 5px;
        &:focus {
            background-color: $blueDark;
        }
        &::-webkit-input-placeholder {
           color: $gray2;
        }
        &:-moz-placeholder { // Firefox 18-
           color: $gray2;
        }
        &::-moz-placeholder { // Firefox 19+
           color: $gray2;
        }
        &:-ms-input-placeholder {
           color: $gray2;
        }
    }

    > i {
        display: block;
        position: absolute;
        left: 10px;
        line-height: 50px;
    }
}

.mp-search-box-clear-results {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 10px;
    color: $gray3;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

// Dropdonw Menu
.mp-navbar-user-info-picture {
    vertical-align: top;
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

.mp-navbar-dropdown-menu {
    position: relative;
    @include display_flex;
    .mp-navbar-dropdown-menu-inner {
        display: none;
    }
    &:hover {
        .mp-navbar-dropdown-menu-inner {
            display: block;
        }
    }
}

.mp-navbar-dropdown-menu-inner {
    background-color: white;
    position: absolute;
    width: 100%;
    min-width: 200px;
    top: 50px;
    left: 0;
    a {
        color: $gray6;
        font-size: 18px;
    }
}


// Invitation Controller
// ========================================
.mp-invitation-container {
    margin-top: 100px;
    text-align: center;
}


// JS Helper
// ========================================
.js-fade-out {
    opacity: 0;
    visibility: hidden;
}

.js-sidebar-slide-out {
    @include flex_basis(0);
}

.js-sidebar-slide-in {
    @include flex_basis(300px);
}

.js-places-slide-up {
    margin-top: -300px;
}

.js-create-account-promot-show {
    top: 60px;
}

// Rails Helper
// ----------------------------------------
.field_with_errors {
    border: 1px solid red;
}
