//= require bootstrap.min.css
//= require font-awesome.scss
//= require perfect-scrollbar-0.4.3.min.css
//= require_self


@import "variables/colors";

// Default & Overall
// ========================================
html, body, ng-view,
.mp-main-container,
.mp-view-container,
.mp-map-container,
.mp-chatbox {
    height: 100%;
}

ng-view {
    display: block;
}

%transition {
    -webkit-transition: all 150ms ease-out;
       -moz-transition: all 150ms ease-out;
        -ms-transition: all 150ms ease-out;
         -o-transition: all 150ms ease-out;
            transition: all 150ms ease-out;
}

// Main Container
// ========================================
.mp-main-container {
    display: flex;
}

.mp-view-container {
    flex-grow: 1;
    display: flex;
}

.mp-chatbox {
    @extend %transition;
    flex-basis: 300px;
}

// Map View
// ========================================
.mp-map-container {
    flex-grow: 1;
    position: relative;
}

.mp-places-list {
    @extend %transition;
    flex-basis: 300px;
    overflow: hidden;
    position: relative;
}

// Navbar
// ----------------------------------------
.mp-navbar-top {
    background-color: rgba($cyan, 0.8);
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    color: white;
    text-align: center;
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.mp-navbar-button {
    display: block;
    color: white;
    padding: 0 10px;
    &:hover {
        text-decoration: none;
        color: white;
        background-color: $cyanDark;
    }
    i {
        display: inline-block;
        min-width: 30px;
    }
}

.mp-naked-input {
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    border-radius: 0;
    &:focus {
        box-shadow: none;
    }
}

.mp-navbar-search-box {
    position: relative;
    flex-grow: 1;

    input {
        @extend %transition;
        background-color: rgba($blue, 0.8);
        height: 50px;
        line-height: 1.619047619;
        font-size: 21px;
        padding-left: 12px + 21px + 5px;
        padding-right: 12px + 21px + 5px;
        &:focus {
            background-color: $blueDark;
        }
        &::-webkit-input-placeholder {
           color: $gray2;
        }
        &:-moz-placeholder { // Firefox 18-
           color: $gray2;
        }
        &::-moz-placeholder { // Firefox 19+
           color: $gray2;
        }
        &:-ms-input-placeholder {
           color: $gray2;
        }
    }

    > i {
        display: block;
        position: absolute;
        left: 10px;
        line-height: 50px;
    }
}

.mp-search-box-clear-results {
    position: absolute;
    z-index: 100px;
    top: 0;
    right: 10px;
    color: $gray3;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

// Dropdonw Menu
.mp-navbar-user-info-picture {
    vertical-align: top;
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

.mp-navbar-dropdown-menu {
    position: relative;
    display: flex;
    .mp-navbar-dropdown-menu-inner {
        display: none;
    }
    &:hover {
        .mp-navbar-dropdown-menu-inner {
            display: block;
        }
    }
}

.mp-navbar-dropdown-menu-inner {
    background-color: white;
    position: absolute;
    width: 100%;
    min-width: 200px;
    top: 50px;
    left: 0;
    a {
        color: $gray6;
        font-size: 18px;
    }
}

// Google Map Search Box
.pac-container {
    background-color: rgba($blueDark, 0.9);
    border: none;
    color: white;
}

.pac-item {
    font-size: 21px;
    line-height: 2;
    padding-left: 38px;
    b {
        text-decoration: underline;
    }
    &:hover {
        background-color: white;
        color: $gray6;
    }
}


// Map & Project List
// ----------------------------------------
.mp-map-canvas {
    height: 100%;
    width: 100%;
}

.mp-places-button-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.mp-sidebar-places {
    -webkit-transition: all 350ms ease-out 50ms;
       -moz-transition: all 350ms ease-out 50ms;
        -ms-transition: all 350ms ease-out 50ms;
         -o-transition: all 350ms ease-out 50ms;
            transition: all 350ms ease-out 50ms;
    margin-top: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.mp-sidebar-place {
    padding: 10px;
    background-color: white;
    address {
        margin: 0;
    }
    &.ui-sortable-helper {
        background-color: $gray1;
    }
}

.mp-place-marker-icon {
    float: left;
    margin-right: 10px;
}

.mp-place-actions {
    float: right;
    font-size: 18px;
    margin-left: 10px;
    a {
        &:hover {
            text-decoration: none;
            color: $red;
        }
    }
}

.mp-place-detail-sidebar {
    overflow: hidden;
}

.mp-place-name-sidebar {
    font-weight: bold;
}

.mp-create-account-promot {
    @extend %transition;
    position: absolute;
    top: -200px;
    left: 10px;
    right: 10px;
    padding: 10px;
    border: 1px solid $gray3;
    border-radius: 3px;
    text-align: center;
    &.js-create-account-promot-show ~ .mp-sidebar-places {
        margin-top: 179px;
    }
}


// All Project List
// ========================================
.mp-all-projects-list {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.mp-all-projects-list-inner {
    margin: 0 auto 100px;
    width: 940px;
}

.mp-all-projects-list-header {
    line-height: 50px;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 1px solid $gray6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mp-all-projects-list-masonry {

}

.mp-project-item {
    width: 300px;
    border: 1px solid $gray2;
    margin-bottom: 20px;
}

.mp-project-item-cover {
    height: 200px;
}

.mp-project-item-detail {
    padding: 10px;
}

.mp-project-item-header {
    font-size: 18px;
    line-height: 24px;
    border-bottom: 1px solid $gray6;
    margin-top: 10px;
}

.mp-project-item-notes {
    margin-top: 10px;
}


// Chatbox
// ========================================


// JS Helper
// ========================================
.js-fade-out {
    opacity: 0;
    visibility: hidden;
}

.js-sidebar-slide-out {
    flex-basis: 0;
}

.js-places-slide-up {
    margin-top: -300px;
}

.js-create-account-promot-show {
    top: 60px;
}

// Rails Helper
// ----------------------------------------
.field_with_errors {
    border: 1px solid red;
}
