a.shame-show-user-section-button(href="", ng-click="interface.showUserSection = true")
  i.icon-user

//- Projects list
//- TODO: add masonry support
.mp-fullscreen
  ol.md-projects()
    li.md-projects-item.md-projects-create
      a(href="", ng-click="dashboardViewCtrl.createNewProject()")
        i.icon-plus
    li.md-projects-item(ng-repeat="project in MpProjects.projects")
      .md-projects-item-minimap(mini-map-cover="mini-map-cover")
      .md-projects-item-header
        a(ng-href="/home/project/{{project.id}}") {{project.title}}
      .md-projects-item-detail {{project.notes}}
