//- Container:
//- li
//- .md-notice-pop
//- .clearfix
//- ng-repeat="notice in mdNoticePop.notices"
//- md-notice-pop-item=""

a.md-notice-pop-click.clearfix(href="", ng-click="interface.showUserSection = true")
  .md-notice-image
    img(ng-src="{{notice.sender.fb_user_picture}}")
  .md-notice-body
    header.md-notice-body-header
      | You have been removed from&nbsp;
      b {{notice.body.project.title}}
      |  project.
